<%= content_for :selected, "L" %>
<% flash.each_with_index do |(key, value),i| %>
  <%= content_tag :div, class: "c4-flash #{key} animated slideInUp", style:"padding-bottom:#{i*50}px;z-index:#{1000-i};" do %>
    <div><%= value %></div>
  <% end %>
<% end %>

<div class="hero-image">
  <div class="logo"></div>
  <a href="/Instalador.zip" class="download-button">
    <div class="title">Descargar</div>
    <div class="subtitle">Para PC o Mac</div>
  </a>
</div>
<div class="left-pantallas">
  <div class="screens"></div>
</div>
<div class="right-comprar">
  <div class="vertical-center">
    <div class="title">Compra tu licencia para poder usar el software.</div>
    <%= link_to 'Comprar ahora', pagos_path, class: "comprar-button" %>

  </div>
</div>
