<%= content_for :selected, "L" %>

<div class="hero-image">
  <div class="logo"></div>
  <div class="download-button">
    <div class="title">Descargar</div>
    <div class="subtitle">Instalador</div>
  </div>
</div>
<div class="left-pantallas"></div>
<div class="right-comprar">
  <div class="vertical-center">
    <div class="title">Compra tu licencia para poder usar el software.</div>
    <div class="comprar-button">Comprar ahora</div>
  </div>
</div>
