<%= content_for :selected, "L" %>
<div class="background-pagos"></div>

<br>
<br>
<br>
<br>
<div class="container pagos">
  <div class="row">
    <div class="five columns">
    <h5>Pago Paypal</h5>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="paypal">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="NNLYFNYPLL3TN">
        <input type="hidden" name="on0" value="Nombre Completo">Nombre Completo<input type="text" class="u-full-width" name="os0" maxlength="200">
       <input type="hidden" name="on1" value="Correo Electrónico">Correo Electrónico<input type="text" class="u-full-width" name="os1" maxlength="200">
        <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
    <div class="seven columns">
            <h5>Pago Pay U</h5>

      <div class="pay-u">
        <div class="metodos"></div>

          <form method="post" action="https://gateway.payulatam.com/ppp-web-gateway/pb.zul" accept-charset="UTF-8">   <input type="image" border="0" alt="" src="http://www.payulatam.com/img-secure-2015/boton_pagar_mediano.png" onClick="this.form.urlOrigen.value = window.location.href;"/>   <input name="merchantId" type="hidden" value="556660"/>   <input name="accountId" type="hidden" value="559050"/>   <input name="description" type="hidden" value="Licencia ContaUno"/>   <input name="referenceCode" type="hidden" value="001"/>   <input name="amount" type="hidden" value="340.00"/>   <input name="tax" type="hidden" value="0.00"/>   <input name="taxReturnBase" type="hidden" value="0"/>   <input name="shipmentValue" value="0.00" type="hidden"/>   <input name="currency" type="hidden" value="MXN"/>   <input name="lng" type="hidden" value="es"/>   <input name="sourceUrl" id="urlOrigen" value="" type="hidden"/>   <input name="buttonType" value="SIMPLE" type="hidden"/>   <input name="signature" value="f2b24fbf6c87fa981e3ada09cd7e5f61783cf577a790cbc0898062116397dcfa" type="hidden"/> </form>
      </div>

    </div>
  </div>
</div>



